<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.epizy.someone.jimly_1202150091_modul2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".splash"
            android:theme="@style/tanptatitlebar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".pilihmenu" />
        <activity android:name=".takeaway" />
        <activity android:name=".dinein" />
        <activity android:name=".menu" />
        <activity
            android:name=".Detail"
            android:parentActivityName=".menu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Detail" />
        </activity>
        <activity android:name="com.example.helen.myapplication.HELEN_1202152325_MODUL2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.helen.helen_1202152325_modul2.DetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>